.custom-checkbox {
  position: absolute;
  left: -9999px; /* Move the original checkbox off-screen */
}

.custom-checkbox + label {
  position: relative;
  cursor: pointer;
  padding-left: 30px; /* Adjust padding to make space for the custom checkbox */
}

.custom-checkbox + label:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
  vertical-align: middle;
  line-height: 20px;
  text-align: center;
  transition: all 0.2s ease;
}

.custom-checkbox:checked + label:before {
  content: "✓";
  
  color: green;
  text-align: center;
  line-height: 20px; /* Adjust line height if necessary to center the check mark */
  border: none; /* Hide the border when checked */

}