@tailwind base;
@tailwind components;
@tailwind utilities;
.montserrat {
  font-family: var(--font-montserrat);
}
.nunito {
  font-family: var(--font-nunito);
}
.poppins {
  font-family: var(--font-poppins);
}
.mulish {
  font-family: var(--font-mulish);
}
.k2d {
  font-family: var(--font-k2d);
}
