@tailwind base;
@tailwind components;
@tailwind utilities;
.montserrat {
  font-family: var(--font-montserrat);
}
.nunito {
  font-family: var(--font-nunito);
}
.poppins {
  font-family: var(--font-poppins);
}
.mulish {
  font-family: var(--font-mulish);
}
.k2d {
  font-family: var(--font-k2d);
}
/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Add this to your global CSS file or a CSS module */
.loader {
  border-top-color: #3498db;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}